* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: #2C3639;
    justify-content: space-around;
    color: aliceblue;
    height: 40px;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav .logo{
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    
    padding: 3px 10px;
    border-radius: 15px;
    transition: ease 0.5s; 
}

nav ul li a:hover {
    background-color: #F7F7EE;
    color: #2C3639;
}

.thumbnail {
    width: 100%;
    height: 35em;
    display: flex;
    color: aliceblue;
    
    
}

.thumbnail-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
    align-items: center;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(27,36,48,1) 20%, rgba(44,54,57,1) 90%);
}

.content-name,
.content-image,
.content-profile {
    width: 25em;
}

.content-image img {
    width: 100%;
    opacity: 100px;
}

.content-profile {
    display: flex;
    justify-content: end;
}

.content-profile img{
    width: 25px;
    margin: 10px;

}

.resume,
.portfolio,
.contact {
    width: 100%;
    height: 30em;
}

.resume {
    background-color: aquamarine;
}

.portfolio {
    background-color: tomato;
}

.contact {
    background-color: blue;
}

footer {
    justify-content: center;
}

footer h4 {
    font-weight: lighter;
    
}


@media screen and (max-width: 1200px) {
    nav ul{
        width: 40%;
    }
}

@media screen and (max-width: 676px) {
    nav ul{
        display: none;
    }

  
}